<h1>Kitten <%= @kitten.id %></h1>

<ul>
  <li>Name: <%= @kitten.name %></li>
  <li>Age: <%= @kitten.age %></li>
  <li>Cuteness: <%= @kitten.cuteness %></li>
  <li>Softness: <%= @kitten.softness %></li>
</ul>
<%= link_to 'Edit kitten', edit_kitten_path(@kitten.id) %>
